<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/nk_swing_gy10_colorpuzzle/nk_swing_gy10_colorpuzzle/Boot.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="nk_swing_gy10_colorpuzzle.Boot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="nk_swing_gy10_colorpuzzle"/>
</launchConfiguration>
